# 报表分析

从大盘指标的基本面数据提取给定代码的历史数据。

分为两个维度：
- 提取当期的不同指标，反映当期的各方面情况和均衡性。
- 提取同一指标的时间序列，反映单项指标的变化和成长性。

In [15]:
import tushare as ts
import pandas as pd

In [24]:
def getData():
    print("Get profit data...")
    profit = ts.get_profit_data(2018,1)
    profit.to_csv("./finadata/profit201801.csv")
    print("Finished.")

    print("Get profit data...")
    debt = ts.get_debtpaying_data(2018,1)
    debt.to_csv("./finadata/debt201801.csv")
    print("Finished.")

In [13]:
getData()

Get profit data...
[Getting data:]###########################################################Finished.
Get profit data...
[Getting data:]###########################################################Finished.

In [33]:
def loadData(code,year,season):
    profit = pd.read_csv("./finadata/profit201801.csv")

In [27]:
profit = pd.read_csv("./finadata/profit201801.csv")

In [31]:
profit.columns

Index(['Unnamed: 0', 'code', 'name', 'roe', 'net_profit_ratio',
       'gross_profit_rate', 'net_profits', 'eps', 'business_income', 'bips'],
      dtype='object')

In [32]:
profit[profit["code"]==300036]

,Unnamed: 0,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
2466,2466,300036,超图软件,0.7,5.4,52.721,12.767,0.0284,236.2086,0.5254

In [11]:
debt[debt["code"]=="300036"]

,code,name,currentratio,quickratio,cashratio,icratio,sheqratio,adratio
1096,300036,超图软件,2.6029,2.5816,65.4612,1268.12,72.4788,27.5212